@media only screen and (max-width: 1150px) {
    header{
        padding: 0 15px;
        box-sizing: border-box;
    }
    .btn{
        max-width: 169px;
        min-width: 0;
        margin-left: 10px;
        font-size: 14px;
        padding: 0 10px;
    }
    .btn.shopping_cart:before , .btn.user:before , .btn.user_plus:before{
        font-size: 14px;
        margin-right: 10px;
    }
    .for_soc_icon{
        float: left;
    }
    .footer_icons{
        max-width: 248px;
        margin: auto;
        float: none;
        display: block;
    }
    .for_ul{
        display: inline-block;
    }
    footer ul{
        float: none;
    }
    footer ul:first-of-type{
        margin-right: 105px;
    }
}
@media only screen and (max-width: 1023px) {
    header{
        position: relative;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .logo{
        max-width: 200px;
        margin-top: 10px;
    }
    .btn{
        max-width: 120px;
        min-width: 0;
        margin-left: 10px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 991px) {
    header form{
        float: none;
        width: 100%;
    }
    footer form input{
        margin: 0;
    }
    header nav ul li{
        display: block;
        float: none;
        text-align: center;
        margin: 0;
    }
    .btn{
        max-width: 169px;
        min-width: 0;
        margin-left: 10px;
        font-size: 14px;
        padding: 0 10px;
    }
    .btn.shopping_cart:before , .btn.user:before , .btn.user_plus:before{
        font-size: 14px;
        margin-right: 10px;
    }
    .for_soc_icon{
        max-width: 184px;
        margin: auto;
        float: none;
    }
    footer ul{
        margin-right: 40px;
    }
    footer ul:first-of-type{
        margin: 40px;
    }
}
@media only screen and (max-width: 767px) {
    header{
        position: relative;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .logo{
        max-width: 200px;
        margin-top: 10px;
    }
    .btn{
        min-width: 0;
        width: 45px;
        padding: 0;
        margin: 10px 0 0 10px;
    }
    .btn.shopping_cart:before , .btn.user:before , .btn.user_plus:before{
        margin: 0 10px;
    }
    header a.btn{
        font-size: 0;
    }
    header form{
        float: none;
        width: 100%;
    }
    footer form input{
        margin: 0;
    }
    header nav ul li{
        display: block;
        float: none;
        text-align: center;
        margin: 0;
    }
    header form button {
        width: 10%;
        position: absolute;
        right: 0;
    }
    .soc_icon{
        margin-bottom: 20px;
        float: left;
    }
    footer ul{
        margin-right: 40px;
        margin-bottom: 30px;
    }
    .for_ul{
        padding-top: 100px;
        float: none;
        max-width: 600px;
        display: block;
        margin: auto;
        text-align: center;
    }
    footer ul:first-of-type{
        margin-right: 40px;
        margin-bottom: 30px;
    }
    footer ul:nth-child(2n){
        float: left;
        margin-left: 40px;
    }
}
@media only screen and (max-width: 413px) {
    .logo {
        display: block;
        width: 100%;
        margin: auto;
    }
    .btn{
        width: 100px;
        min-width: 0;
        margin-left: 10px;
    }
    h1{
        font-size: 40px;
    }
    .bg_img h1:after{
        margin-top: 0;
    }
    footer ul:first-of-type{
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    footer ul:nth-child(2n){
        float: left;
        margin-left: 10px;
    }
    footer ul.third{
        margin-left: 40px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 375px) {
    footer ul:first-of-type{
        margin:0 0 30px 0;
    }
    footer ul:nth-child(2n){
        margin:0 0 30px 0;
    }
    footer ul.third{
        margin:0 0 30px 0;
    }
    footer ul:nth-child(2n + 1){
        float: right;
    }
}
@media only screen and (max-width: 359px) {
    .btn{
        width: 80px;
        line-height: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .btn.shopping_cart{
        margin-left: 10px;
        margin-right: 5px;
    }
    .btn.user_plus{
        margin-right: 10px;
    }
}