@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis light';
    src: url('../fonts/Metropolis-Light.eot');
    src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Light.woff2') format('woff2'),
    url('../fonts/Metropolis-Light.woff') format('woff'),
    url('../fonts/Metropolis-Light.ttf') format('truetype'),
    url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    font-size: inherit;
}
header{
    background-color: rgba(0,0,0,0.65);
    padding: 25px 0 10px;
    position: absolute;
    width: 100%;
}
.wrapper{
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.logo{
    display: inline-block;
    max-width: 351px;
    margin-right: 12px ;
}
header .logo img{
    width: 100%;
}
footer .logo img{
    width: 100%;
}
header form{
    background-color: #ebebeb;
    width: 208px;
    height: 42px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    margin-top: 9px;
    float: right;
}
header form input{
    width: 70%;
    border: none;
    background: transparent;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    padding-left: 16px;
    box-sizing: border-box;
    font-family: 'Metropolis';

}
header form button{
    display: inline-block;
    width: 27%;
    height: 42px;
    border: none;
    background-color: transparent;
    vertical-align: top;
}
.red{
    background-color: #fa090a;
}
.grey{
    background-color: #464646;
}
.black{
    background-color: #252525;
}
.btn{
    min-width: 169px;
    line-height: 42px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 24px;
    float: right;
    margin-top: 9px;
    font-family: 'Metropolis';
    font-size: 15px;

}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.fa-shopping-cart,.fa-user,.fa-user-plus{
    margin-right: 12px;
    color: white;
    font-size: 18px;
}
.border{
    padding-bottom: 9px;
    margin-bottom: 21px;
    border-bottom: solid 2px #464646;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
    margin-right: 21px;
    font-family: 'Bebas Neue';
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}
header nav ul li:hover a:after,header nav ul li.active a.after{
    width: 100%
}
header nav ul li a:after{
    margin-top: 10px;
    display: block;
    content: "";
    height: 4px;
    width: 0;
    background-color: #ff0000;
    transition: width .3s ease-in-out;
}
header nav ul li a span{
    display: block;
    padding: 0 5px;
}
.fab{
    color: black;
}
.soc_icon i{
    width: 30px;
    background-color: #ff0000;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
}
header nav ul li:last-of-type{
    margin: 0;
}
.soc_icon{
    font-size: 20px;
    float: right;
    margin-left: 16px;
}
.fa-facebook-f{
    margin: 0;
    font-size: 26px;
}
.bg_img{
    max-width: 1219px;
    margin: auto;
    margin-bottom: 400px;
}
.bg_img img {
     width: 100%;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Bebas Neue';
    font-weight: normal;
    padding-bottom: 32px;
    border-bottom: 3px solid #ff0000;
}
.our_t{
    position: absolute;
    width: 100%;
    top: 222px;
}
footer{
    padding: 75px 0px 60px;
    background-color: #010006;
}
footer span{
    text-transform: uppercase;
    font-family: "Metropolis light";
    color: white;
    font-size: 18px;
    display:block;
    text-align: center;
}
footer span:last-of-type{
    margin-bottom: 36px;
}
footer form{
    text-align: center;
}
footer input {
    padding: 15px 25px;
    width: 390px;
    height: 43px;
    box-sizing: border-box;
    font-family: "Metropolis light";
    margin-right: 32px;
    border-radius: 3px;
    color: #959595;
    border: 0;
    vertical-align: auto;
}
footer button{
    width: 310px;
    height: 51px;
    background-color: #ff0000;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Metropolis;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 51px;
    margin-bottom: 50px;
    cursor: pointer;
}
.about_us{
    background-color: #252525;
    padding-bottom: 65px;
    padding-top: 50px;
    border-top: solid 1px #464647;
    border-bottom: solid 1px #464647;
}
.f_logo{
    margin-bottom: 44px;
}
.f_icons{
    display: inline-block;
    margin-right: 122px;
}
.soc_icon2 i{
    width: 42px;
    background-color: #ff0000;
    box-sizing: border-box;
    line-height: 42px;
    text-align: center;
    margin-right: 20px;
    float: left;
}
.soc_icon2.fa-facebook-f{
    font-size: 37px;
}
.soc_icon2 .fa-instagram{
    font-size: 28px;
}
.soc_icon2 .fa-twitter{
    font-size: 25px;
}
.soc_icon2 .fa-youtube{
    font-size: 30px;
}
.soc_icon2 .fa-youtube{
    margin: 0;
}
.inline{
    display: inline-block;
}
footer ul{
    list-style: none;
    display: inline-block;
    float: bottom;
    float: right;
    margin-right: 105px;
    font-family: Metropolis;
    font-size: 13px;
}
.footer_logo{
    max-width: 247px;
    display:block;
    margin-bottom: 43px;
}
footer ul li{
    margin-bottom: 23px;
}
footer ul li:last-of-type{
    margin: 0;
}
footer ul:first-of-type{
    margin: 0;
}
.for_ul{
    display: inline-block;
    float: right;
    padding-top: 8px;
}
.footer_icons{
    display: inline-block;
    float: left;

}